
.main-div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10ch;
  padding-right: 10ch;
}

.skills-div {
  display: flex;
  flex-flow: column wrap;
  height: 300px;
}

.skills-div > div {
  display:block;
  background: linear-gradient(#A0C3D5, #9198e5);

  border-radius: 25px;
  box-shadow: 2px 2px black;

  text-align: center;
  padding: 10px;
  margin: 10px;
}

